/* Bar with the filter button and the result number */
.infos-and-filter {
  background-color: #ff5f00;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 40px;
  border-bottom: 2px solid #cc4c00;
  font-family: Roboto Condensed;
}

.no-result {
  font-family: Roboto Condensed;
  display: flex;
  justify-content: center;
  padding: 100px;
  height: 50vh;
  box-sizing: border-box;
  background-color: #ff5f00;
  color: white;
}

/* Car filter (JS inside a component) */
.car-filter {
  position: relative;
}

.car-filter .action-button {
  background-color: transparent;
  border: none;
  display: flex;
  font-family: Roboto Condensed;
  font-size: 16px;
  gap: 10px;
  padding: 10px 20px;
  width: 230px;
}

.car-filter .selected {
  background-color: #ffffff;
}

.car-filter-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 230px;
}
.car-filter-open button {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 5px;
  gap: 5px;
  font-family: Roboto Condensed;
  font-size: 14px;
  cursor: pointer;
}

.car-filter-open button > i {
  font-size: 26px;
}

.car-filter-open button div {
  display: flex;
  gap: 10px;
}

.car-filter-open .reset-button {
  color: grey;
  display: flex;
  justify-content: center;
}

/* Car list */
.car-list {
  background-color: #ff5f00;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  padding: 30px 0px;
}

.car-card {
  width: 20%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.car-card .car-name {
  background-color: #191919;
  width: fit-content;
  color: #ff5f00;
  padding: 5px;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 21px;
}

.car-card img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

.car-card i {
  padding-right: 10px;
}

.car-card .basket {
  font-family: Rokkitt;
  font-size: 14px;
}

.car-card .day {
  color: white;
  padding-top: 10px;
}

.car-card .day span {
  font-size: 28px;
}

/* Car modal (JS inside a component) */
.car-modal-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.781);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.car-modal {
  height: 400px;
  background-color: #191919;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 50;
  box-sizing: border-box;
  /* margin-right: 50px; */
  font-family: Roboto Condensed;
}

.carousel-car-wrapper {
  /* width: 70%; */
  height: 100%;
  flex: 2;
  position: relative;
}

.carousel-car-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.car-modal-right {
  flex: 1;
}

.carousel-car-infos {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.856),
    rgba(0, 0, 0, 0.63),
    rgba(0, 0, 0, 0.514),
    transparent
  );
  padding: 20px 40px;
  gap: 20px;
  box-sizing: border-box;
}

.carousel-car-infos h2 {
  font-size: 30px;
}

.carousel-car-details {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.car-modal-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 50px;
  box-sizing: border-box;
}

.car-modal-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.car-modal-bottom div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.car-modal-bottom a {
  width: 100%;
}

.car-modal-bottom button {
  width: 100%;
  background-color: #ff5f00;
  color: white;
  font-size: 22px;
  padding: 20px 0px;
  border: none;
  font-family: Roboto Condensed;
  margin-top: 30px;
}

.car-modal .price-div {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.car-modal .price {
  font-family: Rokkitt;
  font-weight: 400;
}

.car-modal .price span {
  font-size: 30px;
}
