/* Footer CSS */
footer {
  background-color: #191919;
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  box-sizing: border-box;
  height: 10vh;
  box-sizing: border-box;
}

footer button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 11px;
  font-family: Roboto Condensed;
  font-weight: 700;
}

footer button:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
