.config .car-subtitles {
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  color: white;
  padding: 14px 20px;
}

.config .car-subtitles > div {
  display: flex;
  gap: 15px;
}

.config .car-subtitles > div > div {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
}
